In [123]:
import pandas as pd
import os


def get_cities():
    '''
    Function to get list of about 7000 cities in the world for the dropdown selection
    Source: https://simplemaps.com/data/world-cities
    '''
    cities = pd.read_csv(os.path.join('data','simplemaps-worldcities-basic.csv'))
    cities['loc'] = cities['city'] + ', ' + cities['country']
    city_options = [{'label': city, 'value': index} for city, index in zip(cities['loc'], cities.index)]
    
    return city_options, cities


def get_ISD():
    # Weather Station location from ISD (WBAN Stations)
    filename = os.path.join('data','isd-history.txt')
    width = [8,6,30,5,3,6,8,9,8,9,8]
    station_data = pd.read_fwf(filename,colspecs='infer',width=width,skiprows=21)
    station_data.columns = ['USAF','WBAN', 'STATION NAME', 'CTRY','ST','LAT','LON','ELEV','BEG','END']

    station_data = station_data[station_data['CTRY'].notnull()]
    station_data = station_data[station_data['LAT'].notnull()]
    station_data = station_data[station_data['END'] > 20180820]
    station_data = station_data[station_data['BEG'] < 20170000]
    
    return station_data

In [124]:
cities, citylist = get_cities()

citylist.sort_values('pop',ascending=False)

In [52]:
station_data.tail()

,USAF,WBAN,STATION NAME,CTRY,ST,LAT,LON,ELEV,BEG,END
29565,A07355,241,VIROQUA MUNICIPAL AIRPO,US,KY51,43.579,-90.913,394.1,20140731,20180822
29566,A07357,182,ELBOW LAKE MUNICIPAL PR,US,KY63,45.986,-95.992,367.3,20140731,20180822
29567,A07359,240,IONIA COUNTY AIRPORT,US,KY70,42.938,-85.061,249.0,20140731,20180822
29568,A51255,445,DEMOPOLIS MUNICIPAL AIR,US,KDYA,32.464,-87.954,34.1,20140731,20180822
29569,A51256,451,BRANSON WEST MUNICIPAL,US,KFWB,36.699,-93.402,411.2,20140731,20180822

In [13]:
cities[cities['city'].str.contains('Taipei')]

,city,city_ascii,lat,lng,pop,country,iso2,iso3,province,loc
5841,New Taipei,New Taipei,25.012778,121.465000,2821870.0,Taiwan,TW,TWN,New Taipei City,"New Taipei, Taiwan"
5847,Taipei,Taipei,25.035833,121.568333,4759522.5,Taiwan,TW,TWN,Taipei City,"Taipei, Taiwan"

In [ ]:
# Import required libraries
import os
import copy
from datetime import datetime, timedelta

# Niumerical stuff
import pandas as pd
import xarray as xr
from scipy.interpolate import griddata
import numpy as np


def get_subset(year, lat, lon):
    '''
    Function to get monthly average temperature with global coverage (0.25 x 0.25)
    Source: ECMWF ERA5 dataset
    Input: get_subset(year,lat,lon)
    Output: average_temp, cooling_degree_day, heating_degree_day (in deg C)
    '''
    
    # Get daily average temperature
    T2 = xr.open_dataset('data/T2_monthly_mean_2017.nc')
    average_temp = T2.sel(lat=lat, lon=lon % 360, method='nearest')
    average_temp = average_temp.assign_coords(time=(pd.to_datetime(np.array(average_temp.time).astype(int).astype(str))))
    
#    cooling_degree_day = average_temp.where(average_temp > 18, 18) - 18
#    heating_degree_day = 15 - average_temp.where(average_temp < 15, 15)

    # Get winter and summer design temperature 
#    designT = pd.read_pickle('data/designT.pkl')
#    x = designT['Long']
#    y = designT['Lat']

#    z1 = designT['WinterT']
#    z2 = designT['SummerT']
#    points = [(x, y) for x, y in zip(x, y)]

#    winterT = griddata(points, z1, (lon, lat))
#    summerT = griddata(points, z2, (lon, lat))
    return None, None, average_temp.var167

In [1]:
a, b, aveT = get_subset(2017,22,114)

NameError: name 'get_subset' is not defined

In [137]:
float(max(aveT))

302.1568603515625

In [129]:
max(aveT.)

/home/joseph/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: iteration over an xarray.Dataset will change in xarray v0.11 to only include data variables, not coordinates. Iterate over the Dataset.variables property instead to preserve existing behavior in a forwards compatible manner.
  """Entry point for launching an IPython kernel.

'var167'

In [116]:
HDD.var167

<xarray.DataArray 'var167' (time: 12)>
array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32)
Coordinates:
  * time     (time) datetime64[ns] 2017-01-16 2017-02-14 2017-03-16 ...
    lon      float32 114.0
    lat      float32 22.0

In [69]:
T2 = T2.assign_coords(time=(pd.to_datetime(np.array(T2.time).astype(int).astype(str))))

In [71]:
T2.close()

In [76]:
T2 = xr.open_dataset('data/T2_monthly_2017.nc')